html {
  scroll-behavior: smooth;
}
@import '~node_modules/modern-normalize/modern-normalize.css';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'montserrat';
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
