.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 450;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 280px;
  min-height: 459px;
  max-width: 568px;
  max-height: 449px;
  opacity: 1;
  border-width: 2px;
  padding: 15px;
  background-color: $white;
  color: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 500;
}
.modal__button {
  border: transparent;
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: $white;
}
.modal__icon__close {
  width: 20px;
  height: 20px;
  fill: $black;
}
.modal__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: -4px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
  }
}
.modal__video {
  display: flex;
  width: 224px;
  height: 199px;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
  }
}
.modal__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: $black;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
