
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 450;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 280px;
  min-height: 459px;
  padding: 15px;
  background-color: $white;
  color: #FCFCFC;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 500;
}
.modal__button {
  border: transparent;

}
.modal__icon__close {
  width: 20px;
  height: 20px;
  fill: $black;
  position:relative ;
  left: 12px;
  top: 12px;
}
.modal__title {
}
.modal__video {
}
.modal__text {
}