@import '~node_modules/modern-normalize/modern-normalize.css';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat";
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  outline: 1px solid red;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  background-color: #84a178;
  padding-top: 8px;
  padding-bottom: 45px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 48px;
  height: 44px;
}
@media (min-width: 768px) {
  .logo {
    width: 60px;
    height: 65px;
  }
}

.logo__img {
  width: 48px;
  height: 44px;
  fill: #f8d24e;
}
@media (min-width: 768px) {
  .logo__img {
    width: 60px;
    height: 65px;
  }
}

.header__list {
  display: none;
}
@media (min-width: 1200px) {
  .header__list {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 28px;
  }
}

.header__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fcfcfc;
}

.header__link:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #f8d24e;
}

.header__btn {
  display: none;
}
@media (min-width: 768px) {
  .header__btn {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background-color: #f8d24e;
    padding: 12px 35px;
    border-radius: 10px;
    border: transparent;
  }
}

.burger__btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: transparent;
}
@media (min-width: 1200px) {
  .burger__btn {
    display: none;
  }
}

.burger__icon {
  fill: #ffffff;
  width: 32px;
  height: 32px;
}

.burger {
  width: 100vw;
  height: 100vh;
  background-color: #84a178;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 1;
}

.burger.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.burger__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: transparent;
  border: transparent;
}

.burger__icon__close {
  width: 32px;
  height: 32px;
  fill: #fcfcfc;
}

.burger__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.burger__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fcfcfc;
}

.burger__logo {
  fill: #f8d24e;
  width: 48px;
  height: 44px;
}

.burger__buy {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: #f8d24e;
  padding: 12px 35px;
  border-radius: 10px;
  border: transparent;
}
@media (min-width: 768px) {
  .burger__buy {
    display: none;
  }
}

.header__btn__wrap {
  display: flex;
  gap: 32px;
}

.hero {
  background-color: #84a178;
  background-image: url(../images/hero__fon-mobile@x2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 132px;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    background-image: url(../images/hero__fon-tablet@x2.png);
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: url(../images/hero__fon-desktop@x2.png);
    padding-bottom: 0;
  }
}

.hero__title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
}

.hero__span {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 34px;
  line-height: 96%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fcfcfc;
}

.hero__btn__list {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .hero__btn__list {
    margin-bottom: 42px;
  }
}

.hero__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 11px;
  padding: 11px 26px;
}

.hero__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f8d24e;
  text-decoration: underline;
  vertical-align: middle;
}

.scoop__div {
  display: none;
}
@media (min-width: 768px) {
  .scoop__div {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .scoop__text {
    display: inline-block;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .scoop__img {
    width: 152px;
    height: 152px;
    display: block;
    margin-right: 32px;
  }
}
@media (min-width: 1200px) {
  .scoop__img {
    width: 225px;
    height: 225px;
  }
}

.scoop__svg {
  width: 40px;
  height: 16px;
  fill: #fcfcfc;
}

@media (min-width: 768px) {
  .hero__list__amounts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.amounts__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: right;
  text-transform: uppercase;
  color: #131313;
}

.amounts__text {
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #fcfcfc;
}
@media (min-width: 1200px) {
  .amounts__text {
    font-size: 14px;
    line-height: 140%;
  }
}

.scoop__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product {
  background-image: url(./../images/production+gallery__fon-mobilex1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .product {
    background-image: url(./../images/production+gallery__fon-tabletx1.png);
  }
}
@media screen and (min-width: 1200px) {
  .product {
    background-image: url(./../images/production+gallery__fon-desktopx1.png);
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 168px;
}
@media screen and (min-width: 768px) {
  .products__list {
    flex-direction: row;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    gap: 29px;
  }
}

.products__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .products__item {
    width: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: 370px;
  }
}

.productfirst__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  width: 146px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .productfirst__title {
    font-size: 22px;
    width: 178px;
  }
}
@media screen and (min-width: 1200px) {
  .productfirst__title {
    font-size: 30px;
    width: 256px;
  }
}

.productsecond__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 148px;
}
@media screen and (min-width: 1200px) {
  .productsecond__title {
    font-size: 34px;
    width: 306px;
    margin-bottom: 303px;
  }
}

.products__item {
  position: relative;
  padding: 123px 40px 16px;
  border-radius: 24px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .products__item {
    padding: 165px 64px 60px;
  }
}

.products__item:nth-child(1) {
  background-color: rgb(174, 198, 165);
}

.products__item:nth-child(2) {
  background-color: rgb(239, 212, 120);
}

.products__item:nth-child(3) {
  background-color: rgb(214, 147, 109);
}

.products__item::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-position: center;
  background-size: cover;
  margin-bottom: 31px;
}
@media screen and (min-width: 768px) {
  .products__item::before {
    width: 200px;
    height: 212px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item::before {
    width: 302px;
    height: 302px;
    top: -151px;
  }
}

.products__item:first-child::before {
  background-image: url(./../images/production__ice-creamx1.png);
  box-shadow: 0px 11px 20.03px 0px rgba(10, 136, 23, 0.25);
}

.products__item:nth-child(2)::before {
  background-image: url(./../images/production__coffeex1.png);
  box-shadow: 0px 5.4px 20.26px 0px rgba(153, 114, 23, 0.25);
}

.products__item:nth-child(3)::before {
  background-image: url(./../images/production__ice-creamx1.png);
  box-shadow: 0px 5.41px 20.3px 0px rgba(0, 0, 0, 0.25);
}

.product__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .product__name {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .product__name {
    font-size: 30px;
    margin-bottom: 66px;
  }
}

.products__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  margin-bottom: 53px;
  line-height: 1.76;
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.product__btn {
  display: block;
  background-color: transparent;
  fill: #000000;
  border: none;
  width: 40px;
  height: 16px;
  margin: 0 auto;
}

.product__svg {
  width: 40px;
  height: 16px;
}

.tradition {
  background-color: #84a178;
  padding-top: 61px;
  padding-bottom: 68px;
}

.tradition__pretitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
}

.tradition__title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 12px;
  color: #fcfcfc;
}

.tradition__image {
  margin-top: 54px;
  display: block;
  width: 280px;
  height: auto;
  position: relative;
  z-index: 200;
}

.tradition__image__wrap {
  position: relative;
  z-index: 200;
}

.tradition__image__wrap::before {
  content: "";
  background-color: rgba(248, 210, 78, 0.6980392157);
  display: block;
  width: 279px;
  height: 279px;
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  position: absolute;
  bottom: 22px;
  z-index: 100;
}

.tradition__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 176%;
  letter-spacing: 4%;
  text-align: center;
  color: #fcfcfc;
  margin-top: 40px;
  margin-bottom: 24px;
}

.tradition__button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  padding: 15px 35px 15px 34px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: #000000;
  background-color: #f8d24e;
  border: transparent;
  border-radius: 10px;
  display: block;
}

.tradition__icon--open {
  width: 12px;
  height: 12px;
}

.tradition__icon--fon {
  width: 50px;
  height: 50px;
  padding: 7px;
  border-radius: 50%;
  background-color: #f8d24e;
  fill: #000000;
  display: block;
  margin: 0 auto;
  margin-top: 28px;
}

.tradition__number {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-top: 16px;
  margin-bottom: 16px;
}

.tradition__descrition {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
  color: #fcfcfc;
}

.footer {
  background-color: #84a178;
  padding-top: 60px;
  padding-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 120px;
  }
}
@media screen and (min-width: 768px) {
  .footer__party__first {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer__interline {
    display: none;
  }
}
.footer__pretitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: left;
  color: #fcfcfc;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__pretitle {
    font-size: 26px;
    letter-spacing: 4%;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__pretitle {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 14px;
  }
}
.footer__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  text-align: left;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 48px;
    letter-spacing: 6%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 58px;
  }
}
.footer__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    margin-top: 61px;
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    margin-top: 18px;
    margin-bottom: 40px;
  }
}
.footer__item {
  width: 34px;
  height: 34px;
  display: inline-block;
  background-color: #f8d24e;
  border-radius: 50%;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #84a178;
  background-color: #f8d24e;
  margin: 7px;
}
.footer__number__phone {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0%;
  text-align: right;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .footer__number__phone {
    font-size: 14px;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__number__phone {
    font-size: 16px;
    letter-spacing: 2%;
    margin-bottom: 0px;
  }
}
.footer__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0%;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__link {
    font-size: 16px;
    letter-spacing: 2%;
  }
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0%;
  text-align: center;
  color: #7a7a7a;
}
@media screen and (min-width: 768px) {
  .footer__text {
    line-height: 186%;
    letter-spacing: 2%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    font-size: 12px;
  }
}
.footer__text::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__text::before {
    margin-top: 32px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text::before {
    margin-top: 60px;
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=index.css.map */