<footer role="contentinfo" id="footer" class="footer">
  <div class="container">
    <div class="footer__party__first">
      <div>
        <h3 class="footer__pretitle">
          homemade ice cream <br class="footer__interline"/>
          made
        </h3>
        <h2 class="footer__title">
          with <br class="footer__interline"/>
          passion
        </h2>
      </div>
      <div>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="github">
              <svg class="footer__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a href="telegram"> 
              <svg class="footer__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a href="facebook">
              <svg class="footer__icon">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__number__phone">
          Feel free to contact
          <span><a href="tel" class="footer__link">+61 (0) 383 766 284</a></span>
        </p>
      </div>
    </div>
    <div>
      <p class="footer__text">© 2025 - IceCream. <br class="footer__interline"/>All Rights Reserved.</p>
    </div>
  </div>
</footer>
