<header class="header">
  <div class="container header__container">
    <a href="#" class="logo"
      ><svg class="logo__img">
        <use
          class="logo__use"
          href="/src/images/symbol-defs.svg#icon-Logo"
        ></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="header__list">
        <li class="header__item"><a href="#" class="header__link">Home</a></li>
        <li class="header__item">
          <a href="#" class="header__link">How's It Made?</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Our Products</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__btn">Buy Now ></button>
  </div>
</header>
