<section class="hero">
  <div class="container">
    <h2 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__span">passion</span>
    </h2>
    <ul class="hero__btn__list">
      <li class="hero__item">
        <button type="button" class="hero__btn">Products</button>
      </li>
      <li class="hero__item">
        <a href="" class="hero__link">How it’s made?</a>
      </li>
    </ul>
    <div class="scoop__div">
      <picture>
        <source
          srcset="
            ./images/hero__ice-cream-plus@x1.png 1x,
            ./images/hero__ice-cream-plus@x2.png 2x
          " />
        <img
          src="./images/hero__ice-cream-plus@x1.png"
          alt=""
          class="scoop__img"
      /></picture>
      <div class="scoop__wrap">
        <p class="scoop__text">
          Indulge in a scoop of ice <br />
          cream made with passion and <br />
          treat your taste buds to an <br />
          unforgettable experience!
        </p>
        <svg class="scoop__svg">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </div>
    </div>
    <ul class="hero__list__amounts">
      <li class="amounts__item">
        <h3 class="amounts__title">16</h3>
        <p class="amounts__text">cafes</p>
      </li>
      <li class="amounts__item">
        <h3 class="amounts__title">23</h3>
        <p class="amounts__text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
