<section class="hero">
  <div class="container">
    <h2 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__span">passion</span>
    </h2>
    <ul class="hero__btn__list">
      <li class="hero__item">
        <button type="button" class="hero__btn">Products</button>
      </li>
      <li class="hero__item">
        <a href="" class="hero__link">How it’s made?</a>
      </li>
    </ul>
    <img
      src="./images/hero__ice-cream-plusx2.png"
      alt=""
      class="hero__scoop"
    />
    <p class="scoop__text"></p>
    <svg class="scoop__img">
      <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
    </svg>
    <ul class="hero__list__amounts">
      <li class="amounts__item">
        <h3 class="amounts__title">16</h3>
        <p class="amounts__text">cafes</p>
      </li>
      <li class="amounts__item">
        <h3 class="amounts__title">23</h3>
        <p class="amounts__text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
