<section class="location">
  <div class="container">
    <div class="list__of__lists">
      <!-- div 1 -->
      <div class="location__wrap">
        <h3 class="location__lable">CAFE</h3>
        <ul class="location__list">
          <li class="location__item">
            <h4 class="location__title">Chicago</h4>
          </li>
          <li class="location__item">
            <a href="" class="location__link"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
        </ul>
        <ul class="location__list">
          <li class="location__item">
            <h4 class="location__title">Monday - Friday</h4>
            <p class="location__text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location__item">
            <h4 class="location__title">Saturday - Sunday</h4>
            <p class="location__text">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="location__list">
          <li class="location__item">
            <h4 class="location__title">+61(0) 383 766 284</h4>
          </li>
          <li class="location__item">
            <h4 class="location__title">noreply@envato.com</h4>
          </li>
        </ul>
      </div>
      <!-- div 2 -->
      <div class="location__wrap">
        <h3 class="location__lable">FOOD TRUCK</h3>
        <ul class="location__list">
          <li class="location__item">
            <h4 class="location__title">Los Angeles</h4>
          </li>
          <li class="location__item">
            <a href="" class="location__link"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </li>
        </ul>
        <ul class="location__list">
          <li class="location__item">
            <h4 class="location__title">Monday - Friday</h4>
            <p class="location__text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location__item">
            <h4 class="location__title">Saturday - Sunday</h4>
            <p class="location__text">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="location__list">
          <li class="location__item">
            <h4 class="location__title">+61(0) 383 766 284</h4>
          </li>
          <li class="location__item">
            <h4 class="location__title">noreply@envato.com</h4>
          </li>
        </ul>
      </div>
      <!-- div 3 -->
      <div class="location__wrap">
        <h3 class="location__lable">CAFE</h3>
        <ul class="location__list">
          <li class="location__item">
            <h4 class="location__title">New York</h4>
          </li>
          <li class="location__item">
            <a href="" class="location__link"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </li>
        </ul>
        <ul class="location__list">
          <li class="location__item">
            <h4 class="location__title">Monday - Friday</h4>
            <p class="location__text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location__item">
            <h4 class="location__title">Saturday - Sunday</h4>
            <p class="location__text">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="location__list">
          <li class="location__item">
            <h4 class="location__title">+61(0) 383 766 284</h4>
          </li>
          <li class="location__item">
            <h4 class="location__title">noreply@envato.com</h4>
          </li>
        </ul>
      </div>
      <!-- after div -->
      <div class="btn__wrap">
        <button type="button" class="btn__locations">Our Locations ></button>
        <button type="button" class="btn__franchise">Franchise ></button>
      </div>
    </div>
  </div>
</section>
