<section id="product" class="product">
  <div class="container">
    <h2 class="productfirst__title">100% natural</h2>
    <h2 class="productsecond__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="product__name">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer.Fragrant invigorating
        </p>
        <button aria-label="Name" class="product__btn">
          <svg class="product__svg">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="product__name">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button aria-label="Name" class="product__btn">
          <svg class="product__svg">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="product__name">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button aria-label="Name" class="product__btn">
          <svg class="product__svg">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
