<section class="product">
  <div class="container">
    <h2 class="productfirst__title">100% natural</h2>
    <h1 class="productsecond__title">products</h1>
    <ul class="products__list">
      <li class="products__item">ice cream</li>
      <p class="products__text">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer
      </p>
      <li class="products__item">ice coffee</li>
      <p class="products__text">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
      <li class="products__item">milkshakes</li>
      <p class="products__text">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
    </ul>
  </div>
</section>
