<section id="tradition" class="tradition">
  <div class="container">
    <h3 class="tradition__pretitle">tradition and love</h3>
    <h2 class="tradition__title">how it’s made?</h2>
    <div class="tradition__info">
      <div class="tradition__image__wrap">
        <img
          class="tradition__image"
          src="./images/tradition__dunkeyx1.png"
          alt="dunkey"
          srcset="
            ./images/tradition__dunkeyx1.png 1x,
            ./images/tradition__dunkeyx2.png 2x
          "
        />
      </div>
      <div>
        <p class="tradition__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it
          whencreating our handmade desserts. We use traditional recipes and
          100% natural ingredients. Our products are so natural that they can be
          given to children from the age of three years. Sweets lovers can
          expect 55 types of ice cream, 15 types of coffeeand 23 milkshakes.
        </p>
        <p class="tradition__text tradition__text--tablet">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button aria-label="Name" class="tradition__button">
          Read more
          <svg class="tradition__icon--open">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="tradition__list">
      <li class="tradition__item">
        <svg class="tradition__icon--fon">
          <use
            class="tradition__icon"
            href="./images/symbol-defs.svg#icon-cow"
          ></use>
        </svg>
        <h3 class="tradition__number">721</h3>
        <p class="tradition__descrition">
          Aliquam ac dui vel duivulputate <br />
          consectetur. Mauris massa.
        </p>
        <p></p>
      </li>
      <li class="tradition__item">
        <svg class="tradition__icon--fon">
          <use
            class="tradition__icon"
            href="./images/symbol-defs.svg#icon-weight"
          ></use>
        </svg>
        <h3 class="tradition__number">16kg</h3>
        <p class="tradition__descrition">
          Aliquam ac dui vel dui vulputate<br />
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="tradition__item">
        <svg class="tradition__icon--fon">
          <use
            class="tradition__icon"
            href="./images/symbol-defs.svg#icon-ice-cream"
          ></use>
        </svg>
        <h3 class="tradition__number">84</h3>
        <p class="tradition__descrition">
          Aliquam ac dui vel dui vulputate<br />
          consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
