<section class="tradition">
  <div class="container">
    <h3 class="tradition__pretitle">tradition and love</h3>
    <h2 class="tradition__title">
      how <br />
      it’s <br />
      made?
    </h2>
    <div class="tradition__info">
      <div class="tradition__image__wrap">
        <img
          class="tradition__image"
          src="./images/tradition__dunkeyx1.png"
          alt="dunkey"
          srcset="
            ./images/tradition__dunkeyx1.png 1x,
            ./images/tradition__dunkeyx2.png 2x
          "
        />
      </div>
      <p class="tradition__text">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="tradition__text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <button class="tradition__button">
        Read more
        <svg>
          <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <ul class="tradition__list">
      <li class="tradition__item">
        <svg class="tradition__icon">
          <use href="/src/images/symbol-defs.svg#icon-cow"></use>
        </svg>
        <h3 class="tradition__number"></h3>
        <p class="tradition__descrition"></p>
      </li>
      <li class="tradition__item">
        <svg class="tradition__icon">
          <use href="/src/images/symbol-defs.svg#icon-weight"></use>
        </svg>
        <h3 class="tradition__number"></h3>
        <p class="tradition__descrition"></p>
      </li>
      <li class="tradition__item">
        <svg class="tradition__icon">
          <use href="/src/images/symbol-defs.svg#icon-ice-cream"></use>
        </svg>
        <h3 class="tradition__number"></h3>
        <p class="tradition__descrition"></p>
      </li>
    </ul>
  </div>
</section>
