.header {
  background-color: $fon;
  padding-top: 8px;
  padding-bottom: 45px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 60px;
  height: 65px;
}
.logo__img {
  width: 60px;
  height: 65px;
  fill: #f8d24e;
}
.header__list {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 28px;
}
.header__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fcfcfc;
}
.header__link:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #f8d24e;
}
.header__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: #f8d24e;
  padding: 12px 35px;
  border-radius: 10px;
  border: transparent;
}
