.header {
  background-color: $fon;
  padding-top: 8px;
  padding-bottom: 45px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 48px;
  height: 44px;
  @media (min-width: 768px) {
    width: 60px;
    height: 65px;
  }
}
.logo__img {
  width: 48px;
  height: 44px;
  fill: #f8d24e;
  @media (min-width: 768px) {
    width: 60px;
    height: 65px;
  }
}
.header__list {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 28px;
  }
}
.header__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fcfcfc;
}
.header__link:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #f8d24e;
}
.header__btn {
  display: none;
  @media (min-width: 768px) {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    background-color: #f8d24e;
    padding: 12px 35px;
    border-radius: 10px;
    border: transparent;
  }
}
.burger__btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: transparent;
  @media (min-width: 768px) {
  }
  @media (min-width: 1200px) {
    display: none;
  }
}
.burger__icon {
  fill: #ffffff;
  width: 32px;
  height: 32px;
}
.burger {
  width: 100vw;
  height: 100vh;
  background-color: $fon;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 1;
}
.burger.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.burger__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: transparent;
  border: transparent;
}
.burger__icon__close {
  width: 32px;
  height: 32px;
  fill: #fcfcfc;
}
.burger__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.burger__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fcfcfc;
}
.burger__logo {
  fill: #f8d24e;
  width: 48px;
  height: 44px;
}
.burger__buy {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: #f8d24e;
  padding: 12px 35px;
  border-radius: 10px;
  border: transparent;
  @media (min-width: 768px) {
    display: none;
  }
}
.header__btn__wrap {
  display: flex;
  gap: 32px;
}
