.hero {
  background-color: $fon;
  background-image: url(../images/hero__fon-mobilex2.png),
    url(../images/hero__ice-creamx2.png);
  background-repeat: no-repeat;
  background-size: contain, 217px;
  background-position: bottom;
  position: relative;
  padding-bottom: 231px;
  @media (min-width: 768px) {
    background-image: url(../images/hero__fon-tabletx2.png),
      url(../images/hero__ice-creamx2.png);
    padding-bottom: 0;
    background-size: contain;
    background-position: bottom, 75%;
  }
  @media (min-width: 1200px) {
    background-image: url(../images/hero__fon-desktopx2.png),
      url(../images/hero__ice-creamx2.png);
    background-position: center, 75%;
    padding-bottom: 0;
  }
}
.hero__container {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
  }
}
.hero__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 28px;
}
.hero__span {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 34px;
  line-height: 96%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fcfcfc;
}
.hero__btn__list {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  align-items: center;
  @media (min-width: 1200px) {
    margin-bottom: 42px;
  }
}
.hero__btn {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 11px;
  padding: 11px 26px;
}
.hero__link {
  display: block;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f8d24e;
  text-decoration: underline;
  text-transform: none;
  padding: 12px 0;
}
.scoop__div {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.scoop__text {
  @media (min-width: 768px) {
    display: inline-block;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #ffffff;
    text-transform: none;
  }
}
.scoop__img {
  @media (min-width: 768px) {
    width: 152px;
    height: 152px;
    display: block;
    margin-right: 32px;
  }
  @media (min-width: 1200px) {
    width: 225px;
    height: 225px;
  }
}
.scoop__svg {
  width: 40px;
  height: 16px;
  fill: #fcfcfc;
}
.hero__list__amounts {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.amounts__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: right;
  text-transform: uppercase;
  color: #131313;
}
.amounts__text {
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #fcfcfc;
  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 140%;
  }
}
.scoop__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
