.location {
  background-color: #84a178;
}
.list__of__lists {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }
}
.location__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 24px;
  width: 280px;
  height: 500px;

  padding: 10px 32px 24px 32px;

  box-shadow: 0px 8px 30px 0px #d414431a;

  @media (min-width: 768px) {
    width: 224px;
    height: 537px;
    padding: 40px 24px;
  }

  @media (min-width: 1200px) {
    width: 368px;
    height: 542px;
    padding: 40px;
    padding-bottom: 25px;
  }
}
.location__lable {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 4%;
  color: #131313;
  background-color: #f8d24e;
  padding: 4px 14px;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top: 20px;
  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.location__list {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
  margin-top: 20px;
  @media (min-width: 768px) {
    padding-bottom: 32px;
  }
}
.location__list:nth-child(4n) {
  border-bottom: 0;
  padding-bottom: 24px;
  @media (min-width: 768px) {
    padding-bottom: 32px;
  }
}
.location__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 4%;
  color: #131313;
}
.location__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  letter-spacing: 4%;
  color: #d6936d;
}
.location__link:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  letter-spacing: 4%;
  color: #d6936d;
  text-decoration: underline;
}
.location__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0%;
  color: #ababab;
}
.btn__locations {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #f8d24e;
  padding: 12px 40px;
  border-radius: 10px;
  border-color: transparent;
}
.btn__franchise {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  padding: 12px 40px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
}

.location__modal {
  width: 100vw;
  height: 100vh;
  background-color: $fon;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 1;
}
.location__modal.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.burger__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: transparent;
  border: transparent;
}
.burger__icon__close {
  width: 24px;
  height: 24px;
  fill: #131313;
}
.location__modal__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.location__modal__img {
  width: 448px;
  height: 260px;
  border-radius: 10px;
}
.location__modal__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #131313;
  padding: 12px 34px;
  background-color: #f8d24e;
  border-radius: 10px;
  border: transparent;
}
.btn__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}
