.product{
    background-image:url(..//../images/production+gallery__fon-mobile@x1.png);
    background-position: center;
    background-repeat: no-repeat;
    
}

.products__list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.products__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 224px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.productfirst__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  width: 146px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    width: 178px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    width: 256px;
  }
}

.productsecond__title {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  width: 270px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    font-size: 34px;
    width: 306px;
  }
}
