.product {
  background-image: url(./../images/production+gallery__fon-mobilex1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    background-image: url(./../images/production+gallery__fon-tabletx1.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(./../images/production+gallery__fon-desktopx1.png);
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 168px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 29px;
  }
}

.products__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 224px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.productfirst__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  width: 146px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    width: 178px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    width: 256px;
  }
}

.productsecond__title {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  //   width: 270px;
  margin: 0 auto;
  margin-bottom: 148px;

  //   @media screen and (min-width: 1200px) {
  //     font-size: 34px;
  //     width: 306px;
  //   }

  @media screen and (min-width: 1200px) {
    font-size: 34px;
    width: 306px;
    margin-bottom: 303px;
  }
}

.products__item {
  position: relative;
  padding: 123px 40px 16px;
  border-radius: 24px;
  width: 100%;

  @media screen and (min-width: 1200px) {
    padding: 165px 64px 60px;
  }
}

.products__item:nth-child(1) {
  background-color: rgba(174, 198, 165, 1);
}

.products__item:nth-child(2) {
  background-color: rgba(239, 212, 120, 1);
}
.products__item:nth-child(3) {
  background-color: rgba(214, 147, 109, 1);
}

.products__item::before {
  content: '';
  //   background-image: url(./../images/production__ice-creamx1.png);
  display: inline-block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-position: center;
  background-size: cover;
  margin-bottom: 31px;

  @media screen and (min-width: 768px) {
    width: 200px;
    height: 212px;
  }
  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -151px;
  }
}

.products__item:first-child::before {
  background-image: url(./../images/production__ice-creamx1.png);
  box-shadow: 0px 11px 20.03px 0px rgba(10, 136, 23, 0.25);
}
.products__item:nth-child(2)::before {
  background-image: url(./../images/production__coffeex1.png);
  box-shadow: 0px 5.4px 20.26px 0px rgba(153, 114, 23, 0.25);
}
.products__item:nth-child(3)::before {
  background-image: url(./../images/production__ice-creamx1.png);
  box-shadow: 0px 5.41px 20.3px 0px rgba(0, 0, 0, 0.25);
}

.product__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    margin-bottom: 66px;
  }
}

.products__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  margin-bottom: 53px;
  line-height: 1.76;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.product__btn {
  display: block;
  background-color: transparent;
  fill: $black;
  border: none;
  width: 40px;
  height: 16px;
  margin: 0 auto;
}

.product__svg {
  width: 40px;
  height: 16px;
}
