ul{
    list-style: none;
}
.item{
    width: 700px;
    height: 450px;
}
.item:nth-last-child(1){
    background-color: aqua;
}
.item:nth-last-child(2){
    background-color: rgb(212, 0, 255);
}
.item:nth-last-child(3){
    background-color: rgb(0, 0, 255);
}
.item {
  display: none;
}

.item.active {
  display: block;
  text-align: center;
}
